<form action="{{ url_for('ongeza_dawa') }}" method="POST">
    <input name="jina" placeholder="Name">
    <input name="idadi" type="number">
    <input name="bei" type="number">
    <input name="tarehe" type="date">
    <button>Add</button>
</form>

<form action="{{ url_for('dashboard') }}" method="GET">
    <input name="search" placeholder="Search">
    <button>Search</button>
</form>

{% for d in dawa %}
<tr>
    <td>{{ d[1] }}</td>
    <td>{{ d[2] }}</td>
    <td>{{ d[3] }}</td>

    <td>
        <form action="{{ url_for('uza_dawa') }}" method="POST">
            <input type="hidden" name="dawa_id" value="{{ d[0] }}">
            <input name="idadi" type="number">
            <button>Sell</button>
        </form>

        <a href="{{ url_for('edit', id=d[0]) }}">Edit</a>
        <a href="{{ url_for('futa', id=d[0]) }}">Delete</a>
    </td>
</tr>
{% endfor %}