<!DOCTYPE html>
<html>
<head>
    <title>Edit Medicine</title>
</head>
<body>

<div class="edit">

<form method="POST">

<h2>EDIT MEDICINE</h2>

<input type="text" name="jina" value="{{ dawa[1] }}" required>

<input type="number" name="idadi" value="{{ dawa[2] }}" required>

<input type="number" name="bei" value="{{ dawa[3] }}" required>

<input type="date" name="tarehe" value="{{ dawa[4] }}" required>

<button type="submit">Update</button>

<a href="{{ url_for('dashboard') }}">Back</a>

</form>

</div>

</body>
</html>