<!DOCTYPE html>
<html lang="sw">
<head>
    <title>Ripoti - Duka la Dawa</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="navbarp">
        <h2>📊 SALES HISTORY</h2>
        <a href="dashboard" class="btn btn-warning">⬅️ Back</a>
    </div>

    <div class="container">
        <div class="card">
            <h3 style="color: #28a745;">Grand Total Sales: <b>{{ jumla_kuu }} TZS</b></h3>

            <table>
                <thead>
                    <tr>
                        <th>Sold Medicine</th><th>Quantity</th><th>Amount Received</th><th>Date & Time</th>
                    </tr>
                </thead>
                <tbody>
                    {% for m in mauzo %}
                    <tr>
                        <td>{{ m.jina_dawa }}</td>
                        <td>{{ m.idadi_iliyouzwa }}</td>
                        <td style="color: green; font-weight: bold;">{{ m.jumla_pesa }} TZS</td>
                        <td>{{ m.tarehe }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

       <div class="card" style="border: 1px solid #ffc107;">
                <h3 style="color: #dc3545;">⚠️ DANGER (Admin Only)</h3>
                <p>Enter the admin passkey to delete sales history:</p>
    
            <form action="/futa_mauzo_yote" method="POST" style="display: flex; gap: 10px;">
            <input type="password" name="password_futa" placeholder="Enter a passkey" required style="width: 250px;">
             <button type="submit" class="btn btn-danger" onclick="return confirm('Are you sure you want to proceed? Sales can not be restored! ');">
            🗑️ Delete All History
             </button>
              </form>
        </div>

        </div>
    </div>
</body>
</html>